
.pro_img{
	margin-top:30px;
}
.span_3_of_2 .button{
	float:left;
}
.share{
	margin-top:30px;
}
.similar_images_1_of_4 {
	width: 70.8%;
	padding:1.5%;
	text-align:center;
	position:relative; 
	/*height:400px;*/
}
.similar_images_1_of_4 .button a.cart-button{
	padding:7px 5px 7px 38px; 
}
.similar_images_1_of_4 .button{
	margin-top:.3em;
	line-height:1.9em;
	float:left;
	width:49%;
}
.similar_images_1_of_4  h2 {
	color: #CC3636;
	font-family: 'Monda', sans-serif;
	font-size:14px;
	font-weight : normal;
}

.similar_images_1_of_4 p {
	font-size:14px;
	padding:0.4em 0;
	color: #333;	
}
.loginpanel{
	height:500px;
	background-color:white;
}
 .first_label h3{
	font-size:22px;
	font-family:Times New Roman;
	margin-top:40px;
	margin-bottom:10px;
}
.form-log{
	display:block;
	width:100%;
	height:50px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	background-color:#fff;
	background-image:none;
	border:1px solid #DDE2E8;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s

}
.form-input{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
}
.main{
	
	background-color:#f1f1f1;
}
.login_button{
	color:white; background-color:black;border-color:black;margin-left:10px;
}
.signup_button{
	color:white; background-color:black;border-color:black;}
.social{
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
}
.lg_button{
margin-top:30px;
}
.lg_button p{
font-size:15px;
margin-top:12px;
}
.center{
margin-top:60px;
font-family:tahoma;
}
.sign{
margin-top:60px;
}
.signup_form{
background-color:#f1f1f1;
}
.form_content{
	
background-color:white;
height:auto;


}
.sign_up{
margin-top:50px;
	}
	
.form_content ul{
margin-top:10px;
font-size:19px;
		
	}
.form_content li{
	margin-top:10px;
	margin-bottom:10px;
	list-style:none;
	font-size:14px;
	color:grey;
}
.form_content p{
	font-size:20px;
	margin-top:80px;
	margin-top: 29px;
	text-align:center;
	color:Purple;
	padding-bottom: 36px;
}
.filter_panel{
	width:20%;
	float:left;
	text-align:left;height:800px;
}
.grid_panel{
	width: 20%;
    text-align: center;
    position: relative;
    height: 400px;
}
.images_panel{
	display: block;
    float: left;
    /* margin: 1% 0 0.5% 0.1%; */
    box-shadow: 0px 0px 3px rgb(150, 150, 150);
}

.product_panel{
	width:80%;
	float:right;
	}
.filter_panel h3{
		margin-top:30px;
		margin-left:20px;
	}
	.chk{
		margin-left:20px;
		margin-top:10px;
	}	
.deal_1_of_3
{
	width: 31%;
	padding: 1.5%;
	text-align: center;
	position: relative;
	height:450px;
	margin-right:10px;	
	margin-left: 1%;
}
.deal
{
	font-size: 14px !important;
	margin-top: 20px !important;
	height:auto !important;
}
.deal_coupon
{
	margin-top:auto !important;
	font-size:14px !important;
}
.Deal_panel{
	width:80%;
	float:left;
	margin-top:3%;
	padding-left: 2.6%;
	}
.Deal_filter{
	width:20%;
	float:left;
	margin-top: 50px;
	padding-left: 10px;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.deal_htr{
	border-top: 1px solid #dfe1e8;
	padding:12px;
}
.to_do a{
    background: #fff;
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
    border-radius: 0px;
    position: relative;
    padding: 7px;
    margin-bottom:1px;
    list-style: none;
	color:black;
}
a:hover{
	color:red;
}
.alerts_js{
	padding: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
	font-size:15px;
	color:red;
}

.chk{
		margin-left:20px;
		margin-top:10px;
	}
.compare_product 
{	margin-top:10px;
	margin-bottom:10px;
	display:none;
	height:120px;
	background-color:black;
	color:red;
}
.description p{
	font-size:13px;
	font-family:times new roman;
}
.comparetable{
	margin-top:100px;
}

.textval{
	margin-top:40px;
	
}
.side_panel{
	width:20%;
	float:left;
	margin-top:450px;
}

.table{
	margin-bottom:0px;
}
.middle_panel{
	width:75%;
}


.compareimages_1_of_4 {
    width: 100%;
    padding: 1.5%;
    text-align: center;
    position: relative;
    float:right;
	
}

.comparegrid_1_of_4 {
    display: block;
    float: right;
    margin: 1% 0 0.5% 0.1%;
    box-shadow: 0px 0px 3px rgb(150, 150, 150);
	margin-top:30px;
	margin-bottom:40px;
	height: 324px!important;
}
.compare_product_name{
	height:60px;
	margin-top:10px;
	margin-bottom:10px;
}
.compare_product_name p{
	font-size:20px;
	color:red;
	font-family:times new roman;
}

.compare_product_price {
	color:red;
	font-size:20px;
	font-family:times new roman;
	margin-top:10px;
	margin-bottom:10px;
}
p.heddine{
	white-space: nowrap; 
	width: 200px;
	overflow: hidden; 
	text-overflow: clip;
	
}
.heder_right{
	float:right
}
.android{
	margin: -7px -6px 0px -5px;
    padding: 0;
    width: 28px;
    height: 25px;
    background: #699a1c url(../images/sprite.png) no-repeat -540px -100px;
    float: left;
    border: 1px solid #fff;
    border-radius: 80px;
    text-indent: -9999px;
    display: inline-block;
    transition: all 700ms ease-out 0s;
}
.notify{
		margin: -7px -6px 0px -5px;
    padding: 0;
    width: 28px;
    height: 27px;
    background: #660099 url(../images/notify.png) no-repeat;
    float: left;
    border: 1px solid #fff;
    border-radius: 80px;
    text-indent: -9999px;
    display: inline-block;
    transition: all 700ms ease-out 0s;
}
.hotel_panal {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #660099 url(../images/hotel_panal.jpg) no-repeat;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
.hotel{
	    color: #fff;
		
}
.select_color{
	color:black;
}